     <ul id="shows_list">
      {% for i in items %}
        {% ifequal i.type "date" %}
        <li class="date">{{ i.day }}</li>
        {% endifequal %}
        {% ifequal i.type "movie" %}
        <li class="movie" data-cover="{{ i.cover }}">
          <a href="{{ i.nzblink }}"><span class="rlsname">{{ i.rlsname }}</span></a>
          <span class="stars">{% if i.imdbinfo %}{{ i.rating }} {{ i.votes }}{% endif %}</span> <a href="{{ i.imdblink }}" class="extrabutton imdb">imdb</a><a href="{{ i.rtlink }}" class="extrabutton rt">rt</a>
        </li>
        {% endifequal %}
      {% endfor%}
     </ul>
